services:
  mongo:
    image: mongo:4
    restart: always
    env_file:
      - .env
    environment:
      # - MONGO_INITDB_ROOT_USERNAME
      # - MONGO_INITDB_ROOT_PASSWORD
      - MONGO_INITDB_DATABASE: scanned
    ports:
      - 27017:27017
